<div class="hero-wrap">
    <div class="overlay"></div>
    <div class="circle-bg"></div>
    <div class="circle-bg-2"></div>
    <div class="container-fluid">
        <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">

            <div class="one-forth pr-md-4 ftco-animate align-self-md-center"
                data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Show, <br> Don't tell.
                </h1>
                <p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="tex-align: justify;">The Acuradata
                    family is a bunch of dedicated and passionate professionals who have come together to make a
                    difference to the IT industry. Our priority is excellence, customer satisfaction and we stop short
                    of nothing less than Perfect. We are the solution for all your Branding needs.</p>
                <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#"
                        class="btn btn-primary px-4 py-3">Get started</a></p>
            </div>
            <div class="one-half align-self-md-end align-self-sm-center">
                <div class="slider-carousel owl-carousel">
                    <div class="item">
                        <img src="images/dashboard_full_1.png" class="img-fluid img" alt="">
                    </div>
                    <div class="item">
                        <img src="images/dashboard_full_2.png" class="img-fluid img" alt="">
                    </div>
                    <div class="item">
                        <img src="images/dashboard_full_3.png" class="img-fluid img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Facts-->
<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2 class="mb-4">Some fun facts</h2>
                <span class="subheading">More than 100,000 websites hosted</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="2000">0</strong>
                                <span>Registered Domains</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="100">0</strong>
                                <span>Awards Won</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="32000">0</strong>
                                <span>Cups of coffee</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="31998">0</strong>
                                <span>Satisfied Customers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Our Services-->
<section class="ftco-section services-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Services</span>
                <h2 class="mb-4">Our Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">SMS Campaign</h3>
                        <p style="text-align: justify;">SMS campaign automation makes it easy to reach your customers
                            with ease and efficiency, by making us of the best SMS campaign tools. You can reach
                            millions of people on the go. SMS Campaigns are gaining popularity due to their wide reach
                            and effectiveness. It’s high time your business opted for an exclusive plan to use the best
                            SMS campaign software.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Email Campaign</h3>
                        <p style="text-align: justify;">A lot of customers these days rely on emails. By opting for the
                            best email campaign tools and software, you can reach a wide number of audience and stand
                            higher chances of turning potential customers into loyal ones. To top it all off, email
                            campaign services are all but a click away.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Video Promotions</h3>
                        <p style="text-align: justify;">A lot of customers these days rely on emails. By opting for the
                            best email campaign tools and software, you can reach a wide number of audience and stand
                            higher chances of turning potential customers into loyal ones. To top it all off, email
                            campaign services are all but a click away.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Search Engine Optimization</h3>
                        <p style="text-align: justify;">SEO can guarantee you an increased and dedicated traffic based
                            on specific key words. It also denotes a higher brand credibility and creates a strong
                            impression of trust. SEO also helps you stand out from other competitors and gives your
                            business a chance to show why you are better than other similar businesses.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Social Media Optimization</h3>
                        <p style="text-align: justify;">The right SMO tools helps you in creating a positive brand image
                            and outreach. A lot of people have their presence on social media and this is one of the
                            best ways to present your business and all your services via this channel.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Domain and Hosting</h3>
                        <p style="text-align: justify;">Did you know that registering your domain name is simple, fast
                            and easy with Acuradata. Having the same brand as your domain and host, it is easier to
                            manage and keep track of the analytics. 24/7 support is another advantage. Choose from the
                            best domain and hosting combos with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Pricing-->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Pricing Plans</span>
                <h2 class="mb-4">Our Best Pricing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Standard</h2>
                        <span class="price"><sup>Rs</sup> <span class="number">00</span></span>
                        <span class="excerpt d-block">All features are included</span>
                        <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Get Started</a>

                        <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Startup</h2>
                        <span class="price"><sup>Rs</sup> <span class="number">00</span></span>
                        <span class="excerpt d-block">All features are included</span>
                        <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Get Started</a>

                        <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Premium</h2>
                        <span class="price"><sup>Rs</sup> <span class="number">00</span></span>
                        <span class="excerpt d-block">All features are included</span>
                        <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Get Started</a>

                        <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Pro</h2>
                        <span class="price"><sup>Rs</sup> <span class="number">00</span></span>
                        <span class="excerpt d-block">All features are included</span>
                        <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Get Started</a>

                        <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Features-->
<section class="ftco-section services-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Services</span>
                <h2 class="mb-4">Why choose us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon"><span class="flaticon-guarantee"></span></div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">100% Uptime Guarantee</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon"><span class="flaticon-shield"></span></div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Safe and Secured</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon"><span class="flaticon-support"></span></div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">Our Dedicated Support</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p style="text-align: justify;">We are meticulous to the last point. We believe that our excellence and
                customer satisfaction is what makes us different from the rest. We work relentlessly to meet the needs
                of our customers. We are just a click or call away.
                As our name suggests, we are ameliorators who are dedicated, passionate and innovative, to evolve with
                the growing needs of the industry. We are a one stop shop for all your needs. Our work is built to
                perfection to suit your specifications and requirements.
            </p>
        </div>
    </div>
</section>

<!--Domain-->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 mt-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Get domain</span>
                <h2 class="mb-4">Get A Domain Name</h2>
                <p>With FREE Email, DNS, Theft Protection, and other features</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <form action="#" class="domain-form">
                    <div class="form-group d-md-flex">
                        <input type="text" class="form-control px-4" placeholder="Enter your domain name...">
                        <input type="submit" class="search-domain btn btn-primary px-5" value="Search Domain">
                    </div>
                </form>
                <p class="domain-price text-center"><span><small>.com</small>9.75</span>
                    <span><small>.net</small>9.90</span>
                    <span><small>.biz</small>$8.95</span> <span><small>.me</small>$7.95</span></p>
            </div>
        </div>
    </div>
</section>

<!--Pricing-->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Pricing Plans</span>
                <h2 class="mb-4">Our Best Pricing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Standard</h2>
                        <span class="price"><sup>Rs</sup> <span class="number">00</span></span>
                        <span class="excerpt d-block">All features are included</span>
                        <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Get Started</a>

                        <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Startup</h2>
                        <span class="price"><sup>Rs</sup> <span class="number">00</span></span>
                        <span class="excerpt d-block">All features are included</span>
                        <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Get Started</a>

                        <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Premium</h2>
                        <span class="price"><sup>Rs</sup> <span class="number">00</span></span>
                        <span class="excerpt d-block">All features are included</span>
                        <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Get Started</a>

                        <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">Pro</h2>
                        <span class="price"><sup>Rs</sup> <span class="number">00</span></span>
                        <span class="excerpt d-block">All features are included</span>
                        <a href="#" class="btn btn-primary d-block px-3 py-3 mb-4">Get Started</a>

                        <h3 class="heading-2 mb-3">Enjoy All The Features</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Customer Says</span>
                <h2 class="mb-4">Our satisfied customer says</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the
                    blind texts. Separated they live in</p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia, there live the blind texts.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia, there live the blind texts.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Interface Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia, there live the blind texts.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">UI Designer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia, there live the blind texts.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">Web Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text">
                                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia
                                    and
                                    Consonantia, there live the blind texts.</p>
                                <p class="name">Dennis Green</p>
                                <span class="position">System Analytics</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Services</span>
                <h2 class="mb-4">How it works</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 ftco-animate">
                <div class="nav ftco-animate nav-pills justify-content-center text-center" id="v-pills-tab"
                    role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-nextgen-tab" data-toggle="pill" href="#v-pills-nextgen"
                        role="tab" aria-controls="v-pills-nextgen" aria-selected="true">Next gen VPS</a>

                    <a class="nav-link" id="v-pills-performance-tab" data-toggle="pill" href="#v-pills-performance"
                        role="tab" aria-controls="v-pills-performance" aria-selected="false">Performance</a>

                    <a class="nav-link" id="v-pills-effect-tab" data-toggle="pill" href="#v-pills-effect" role="tab"
                        aria-controls="v-pills-effect" aria-selected="false">Effectiveness</a>
                </div>
            </div>
            <div class="col-md-12 align-items-center ftco-animate">

                <div class="tab-content ftco-animate" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-nextgen" role="tabpanel"
                        aria-labelledby="v-pills-nextgen-tab">
                        <div class="d-md-flex">
                            <div class="one-forth align-self-center">
                                <img src="images/dashboard_full_1.jpg" class="img-fluid border" alt="">
                            </div>
                            <div class="one-half ml-md-5 align-self-center">
                                <h2 class="mb-4">Next gen VPS hosting</h2>
                                <p style="text-align: justify;">VPS hosting coupled with Full Root Access, Instant
                                    Provisioning and High Speed SDD Storage. Using this technology allows you to run
                                    several virtualized operating systems on a single machine. It offers Privacy,
                                    Control, Customization and Dedicated Resources at affordable prices.</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-performance" role="tabpanel"
                        aria-labelledby="v-pills-performance-tab">
                        <div class="d-md-flex">
                            <div class="one-forth order-last align-self-center">
                                <img src="images/dashboard_full_2.jpg" class="img-fluid border" alt="">
                            </div>
                            <div class="one-half order-first mr-md-5 align-self-center">
                                <h2 class="mb-4">Performance VPS hosting</h2>
                                <p style="text-align: justify;">With high tech software and data resources, we ensure
                                    that performance is not hindered. Performance being our number 1 priority, with
                                    round the clock monitoring so that unforeseen issues that crop up can be resolved in
                                    minimal time. Now your clients don’t have to wait for server errors to be resolved.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-effect" role="tabpanel" aria-labelledby="v-pills-effect-tab">
                        <div class="d-md-flex">
                            <div class="one-forth align-self-center">
                                <img src="images/dashboard_full_1.jpg" class="img-fluid border" alt="">
                            </div>
                            <div class="one-half ml-md-5 align-self-center">
                                <h2 class="mb-4">Effective VPS hosting</h2>
                                <p style="text-align: justify;">With high tech software and data resources, we ensure
                                    that performance is not hindered. Performance being our number 1 priority, with
                                    round the clock monitoring so that unforeseen issues that crop up can be resolved in
                                    minimal time. Now your clients don’t have to wait for server errors to be resolved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Subcribe to our Newsletter</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the
                        blind texts. Separated they live in</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-6">
                            <form action="#" class="subscribe-form">
                                <div class="form-group">
                                    <span class="icon icon-paper-plane"></span>
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>